// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Tablets and small desktops
$screen-lg-min: 992px;
$screen-lg-max: 1199px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-xl-max: 1399px;

//Large desctops
$screen-xxl-min: 1400px;
$screen-xxl-max: 2000px;

//for laptops and desktops 
$screen-lad-min:992px;
$screen-lad-max:2000px;